n8n-workflows/demo-generator-workflow.json
{
  "name": "Demo Content Generator",
  "nodes": [
    {
      "parameters": {
        "path": "demo-generated",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseCode": 200,
        "responseData": "{\"success\": true, \"message\": \"Demo received\", \"demoId\": \"={{$json.demoId}}\"}"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "demo-webhook"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "spreadsheetId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Demo Requests",
        "data": {
          "demoId": "={{$json.demoId}}",
          "timestamp": "={{$json.timestamp}}",
          "email": "={{$json.email}}",
          "brandName": "={{$json.brandName}}",
          "industry": "={{$json.industry}}",
          "tone": "={{$json.tone}}",
          "platforms": "={{$json.platforms.join(', ')}}",
          "contentGenerated": "={{$json.content.length}} platforms"
        }
      },
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "from": "noreply@persimmonlabs.cc",
        "to": "={{$json.email}}",
        "subject": "Your AI-Generated Content for {{$json.brandName}} is Ready!",
        "contentType": "html",
        "htmlBody": "=<h2>Hello {{$json.brandName}}!</h2>\n<p>Your AI-generated content is ready. We've created content for {{$json.platforms.length}} platforms.</p>\n<h3>Generated Content:</h3>\n{{$json.content.map(c => `<h4>${c.platform}</h4><p>${c.variants[0].caption}</p>`).join('')}}\n<p>Best regards,<br>Persimmon Labs Team</p>"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "#demos",
        "text": "🎉 New Demo Generated!\n*Brand:* {{$json.brandName}}\n*Email:* {{$json.email}}\n*Industry:* {{$json.industry}}\n*Platforms:* {{$json.platforms.join(', ')}}"
      },
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [450, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Save to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}